on early-init
    mount none /product/etc/emptyfile /vendor/etc/vintf/manifest/android.hardware.biometrics.fingerprint@2.1-service.xml bind
    mount none /product/etc/emptyfile /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service bind

service vendor.light-qti /vendor/bin/hw/android.hardware.lights-service.qti
    class hal
    user system
    group system
    shutdown critical
    disabled
    override
